
.Resource__Heading{
    position: absolute;
    
    bottom: 40px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    color: rgba(14, 81, 130, 0.77);
}

.Resource__Query{
    position: absolute;
    left: 620px;
    top: 150px;
    margin-left: 60px;
    color: rgba(14, 81, 130, 0.77);
}

.Query__Heading{
    font-size: 20px;
    font-weight: 600;

}
.form-control{
    padding: 5px;
    border-radius: 5px;
}
.Query__Button{
    padding: 5px;
    position: relative;
    left: 10px;
    border-radius: 5px;
    background-color: #4D9C88;
    color: white;
    font-weight: 400;
}