@import url('https://fonts.googleapis.com/css?family=Open Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Fira Sans');

html {
    scroll-behavior: smooth;
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Montserrat';
    background: #C5E5E3;

}

.Main__Heading {
    /* reLearn */
    position: absolute;
    width: 239px;
    height: 92px;
    left: 166px;
    top: 60px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #0E5182;
}

.Logo__Img{
    position: absolute;
    width: 93px;
    height: 108px;
    left: 73px;
    top: 40px;
}

.About__Heading{
    position: absolute;
    width: 877px;
    height: 87px;
    left: 190px;
    top: 200px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    letter-spacing: 0.07em;

    color: #0E5182;
}

.About__Subheading{
    position: absolute;
    width: 521px;
    height: 42px;
    left: 352px;
    top: 310px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.015em;
    color: rgba(14, 81, 130, 0.65);
}

.About__Illustration{
    position: absolute;
    width: 883px;
    height: 582px;
    left: 264px;
    top: 340px;
}

.Aside__Box{
    position: absolute;
    width: 672px;
    height: 930px;
    left: 1247px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: -6px 4px 4px #AACDAE;
}

/* Sign In */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  .hero {
    height: 100vh;
    width: 100%;
    background-color: #74afda;
    position: absolute;
  }
  
  .form-box {
    width: 380px;
    height: 480px;
    position: relative;
    top: 150px;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    
  }
  
  .button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;

    border-radius: 30px;
  }
  
  .toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
  }
  
  #btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #C5E5E3, #BAE2BE);
    border-radius: 30px;
    transition: 0.5s;
  }
  
  .social-icons {
    margin: 30px auto;
    text-align: center;
  }
  
  .social-icons img {
    width: 30px;
    margin: 0 12px;
  }
  
  .input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
  }
  
  .submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #C5E5E3, #BAE2BE);
    border: 0;
    outline: none;
    border-radius: 30px;
  }
  
  .check-box {
    margin: 30px 10px 30px 0;
  }
  
  span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
  }
  
  #login {
    left: 50px;
  }
  
  #register {
    left: 450px;
  }
  